
// .cont{

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;
    padding: 30px 50px
}
// .product-title{
//     display: flex;
//     padding: 30px 50px
// }
// }